*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 98%;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row .col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.row .col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.row .col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.row .col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.row .col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.row .col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.row .col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.row .col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.row .col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.row .col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.row .col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.row .col-12 {
  flex: 0 0 auto;
  width: 100%;
}

header {
  background: #000;
  position: relative;
}
header .logo {
  margin-left: 12px;
}
header .logo a {
  text-decoration: none;
}
header .logo a h1 {
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 35px;
}
header .logo a h1 span {
  font-weight: 700;
  color: #ff0000;
}
header .menu {
  text-align: center;
}
header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu ul li {
  list-style: none;
  padding: 18px;
}
header .menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  transition: 0.42s;
  position: relative;
}
header .menu ul li a:after {
  content: "";
  position: absolute;
  background: #ff0000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.42s;
}
header .menu ul li a:hover {
  color: #ff0000;
}
header .menu ul li a:hover::after {
  width: 100%;
}
header .right-sub {
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .right-sub button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ff0000;
  padding: 10px 25px;
  border-radius: 30px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}
header .right-sub button:hover {
  background-color: #ff0000;
  transform: scale(1.1);
}

.wide-banner-row {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}
.wide-banner-row .wide-banner-cnt .image {
  display: flex;
  justify-content: flex-end;
}

.footer {
  text-align: center;
  position: relative;
  padding: 90px 0 100px;
  background: #212529;
}
.footer .drop-box {
  padding: 0;
  margin: 20px;
}
.footer .drop-box h1 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  padding: 0;
  letter-spacing: 4px;
}
.footer .drop-box h1 span {
  color: #ff0000;
}
.footer .drop-box .box {
  background-color: #f3f3f3;
  width: 350px;
  height: 170px;
  border-bottom: 1px solid #ff0000;
  padding: 20px 0px;
  margin-top: 25px;
  transition: 0.42s;
}
.footer .drop-box .box h2 {
  font-size: 20px;
}
.footer .drop-box .box h2 span {
  display: block;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 15px;
  border-bottom: 1px solid black;
  margin: 0px 60px;
}
.footer .drop-box .box p {
  font-weight: 400;
}
.footer .drop-box .box:hover {
  border-bottom: 1px solid #000;
  transform: translate(0, -15px);
  cursor: pointer;
}/*# sourceMappingURL=common.css.map */