.contact {
  background: #212529;
  padding: 40px 0;
  font-family: sans-serif;
}
.contact .contact-inner {
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  width: 100%;
  padding: 50px 40px;
  border-radius: 8px;
}
.contact .contact-inner h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0px 0px 40px 0px;
}
.contact .contact-inner .box {
  position: relative;
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  width: 100%;
  height: 550px;
  border-radius: 10px;
}
.contact .contact-inner .box form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: 10px;
  z-index: 2;
  flex-direction: column;
}
.contact .contact-inner .box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.contact .contact-inner .box form .inputbox {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.contact .contact-inner .box form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.contact .contact-inner .box form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #ddd;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.contact .contact-inner .box form .inputbox input:valid ~ span, .contact .contact-inner .box form .inputbox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.contact .contact-inner .box form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.contact .contact-inner .box form .inputbox input:valid ~ i, .contact .contact-inner .box form .inputbox input:focus ~ i {
  height: 44px;
}
.contact .contact-inner .box form .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .contact-inner .box form .link a {
  color: #ddd;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.75em;
  transition: 0.5s;
  margin: 10px 0;
}
.contact .contact-inner .box form .link a:hover {
  color: #fff;
}
.contact .contact-inner .box form .radio-btn {
  padding: 15px;
}
.contact .contact-inner .box form .radio-btn h4 {
  font-family: sans-serif;
  color: #ddd;
}
.contact .contact-inner .box form .radio-btn label {
  color: #ddd;
  cursor: pointer;
}
.contact .contact-inner .box form .button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100%;
  margin-top: 50px;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.contact .contact-inner .box form .button-64:active, .contact .contact-inner .box form .button-64:hover {
  outline: 0;
}
.contact .contact-inner .box form .button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.contact .contact-inner .box form .button-64:hover span {
  background: none;
}/*# sourceMappingURL=contact.css.map */